@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.footer, h1, #time-container, .stage-section, .day-forcast{
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
  }

.hide {
  display: none;
}

body{
  background: #e8e8e8;
}

button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}

button:hover {
  box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
}

ul {
  list-style-type: none;
}

.weather-summary {
    text-align: center;
    background: radial-gradient(#eee, #4567aa);
    padding: 1rem;
    opacity: 0.7;
}

.game-btns {
  text-align: center;
}

.contact-info {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.in-card-section {
  padding: 0.5rem;
}

#flex {
    display: flex;
}
